body {
    background-color: #fff8f0;
    text-align: center;
   
}

.container {
    width: 60%;
    margin: 100px auto;
    padding: 40px;
    background-color: #f8e5e5;
    
}

h1 {
    color: #8b4513;
}

h2 {
    color: #8b4513;
}

p {
    color: #555;
}
